.logo {
  height: 75px;
  width: 75px;
}
.header {
  font-size: small;
}
.club-container {
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 40px;
    width: 40px;
  }
  .header {
    font-size: x-small;
  }
  .club-container {
    width: 90px;
    font-size: 8px;
  }
}
