.result-container {
  flex-direction: row;
}

.match-logo {
  width: 90px;
  height: 90px;
}

@media only screen and (max-width: 760px) {
  .result-container {
    flex-direction: column;
  }
  .match-logo {
    width: 60px;
    height: 60px;
  }
}
